button {
    width: 7.5em;
    border-radius: 7px;
    margin: 1em;
    border-color: darkblue;
    background-color: dodgerblue;
    color: white;

}

.mainContent {
    margin: 10em auto;
    border-width: 0.25em;
    border-style: solid;
    border-color: dodgerblue;
    width: 30em;
    text-align: center;
    background-color: white;
    padding: 1em;
}

.myFont * {
    font-size: 20px;
}

.radioCenter {
    width: 16em;
    margin: auto;
}

body {
    background-color: lightblue;
}
